:not(:defined) > * {
  display: none;
}

html {
  height: 100%;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: white;
}

.buttons1 {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}

.bottomButton {
  display: block;
  width: 170px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #797a79;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.Hotspot {
  background: #fff;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 24px;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 32px;
  outline: none;
  width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5),
    0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#controls {
  position: absolute;
  bottom: 16px;
  left: 16px;
  max-width: unset;
  transform: unset;
  pointer-events: auto;
  z-index: 100;
}

.dot {
  display: none;
}

.dim {
  background: #fff;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 1em;
  font-weight: 700;
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  --min-hotspot-opacity: 0;
}

.dropdown {
  display: block;
  width: 170px;
  padding: 10px 30px 10px 10px; /* Adjust the padding values */
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #797a79; /* Light blue color */
  color: #ffffff; /* Text color */
  text-align: center;
  background-image: url("drop-down-arrow.png"); /* Replace with your arrow image */
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 10px;
  appearance: none;
}

.dropdown option {
  background-color: #e0eaf3; /* Light blue color */
  color: #333; /* Text color */
  text-align: center; /* Center the text */

  padding-left: 0px;
  padding: auto;
  padding-right: 0px;
  margin: auto;
  margin-right: 10px;
}

.dropdown:hover {
  background-color: #b5d2e1; /* Light blue color on hover */
}

.dropdown:focus {
  outline: none; /* Remove outline on focus */
}

@media only screen and (max-width: 800px) {
  .dim {
    font-size: 3vw;
  }
}

.dimensionLineContainer {
  pointer-events: none;
  display: block;
}

.dimensionLine {
  stroke: #16a5e6;
  stroke-width: 2;
  stroke-dasharray: 2;
}

.hide {
  display: none;
}
/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}
